{% extends 'base.html' %}
{% load static %}
{% block title %}
Your Review
{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'reviews/styles.css' %}">
{% endblock css_files %}
{% block content %}
<form>
    {% csrf_token %}
    {% for field in form %}
    <dir class="form-control  {% if field.errors %}errors{% endif %}">

        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    
       </dir>
    {% endfor %}

  

</form>
{% endblock content %}